body{
  background-image: url("degradado.jpg") ;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
}
div{
  border-radius: 10px;
}

#principal{
  border: solid 1px #cccccc;
  padding:5px;
  margin: 0 auto;
  width: 65%;
  background:rgb(45, 59, 121);
}

fieldset{
  margin-bottom: 20px;
  border-radius: 10px;
  border-width: 5px;
}
legend{
  border: solid 2px #b5d5f8;
  padding: 5px;
  font-weight: bold;
  background: #cccccc;
  border-radius: 15px;
  color:black;
}

#mifoto{
  border:solid 2px;
  margin: 10px;
  border-radius: 10px;
  
}

.contenedor{
  width: 90%;
  background: cornflowerblue;
  margin: 30px auto;
  box-shadow: 0 0 20px #333;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 50 px;
}

.tabla_titulo{
  grid-column-start: 1;
  grid-column-end: 5;
  background: rgb(45, 59, 121);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9em;
  padding: 5px;
  margin-bottom: 10px;
}
.tabla_subtitulos, 
.tabla_datos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.tabla_subtitulos{
  font-weight: bold;
  font-size: 1.5em;
}

.tabla_datos{
  padding: 10px;
  font-size: 1.2em;
}